<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">

    <title>AMC-web</title>

    <!-- Stylesheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/ng-tags-input.css" rel="stylesheet">
    <link href="/stylesheets/ng-tags-input.bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/awesome-bootstrap-checkbox.css" rel="stylesheet">
  </head>

  <body ng-app="AMC-web">

    <!-- Navigation bar -->
    <nav class="navbar navbar-default" ng-controller="NavCtrl">
      <a class="navbar-brand" href="/#/home">AMC-web</a>
      <ul class="nav navbar-nav pull-right">
        <li ng-show="isLoggedIn()"><a>{{ currentUser().username }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Se déconnecter</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Se connecter</a></li>
      </ul>
    </nav>

    <!-- Partial views -->
    <div class="row">
      <div class="container">
        <div ui-view></div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/javascripts/ng-tags-input.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/auth-ctrl.js"></script>
    <script src="/javascripts/auth-service.js"></script>
    <script src="/javascripts/main-ctrl.js"></script>
    <script src="/javascripts/nav-ctrl.js"></script>
    <script src="/javascripts/tags-service.js"></script>
    <script src="/javascripts/questions-ctrl.js"></script>
    <script src="/javascripts/questions-service.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>

  </body>

</html>
