<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">

    <title>AMC-web</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>

  <body ng-app="AMC-web">

    <nav class="navbar navbar-default" ng-controller="NavCtrl">
      <a class="navbar-brand" href="/#/home">AMC-web</a>
      <ul class="nav navbar-nav pull-right">
        <li ng-show="isLoggedIn()"><a>{{ currentUser().username }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Se déconnecter</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Se connecter</a></li>
      </ul>
    </nav>

    <div class="row">
      <div class="container">
        <div ui-view></div>
      </div>
    </div>

    <script src="/javascripts/auth-ctrl.js"></script>
    <script src="/javascripts/auth-service.js"></script>
    <script src="/javascripts/main-ctrl.js"></script>
    <script src="/javascripts/nav-ctrl.js"></script>
    <script src="/javascripts/questions-ctrl.js"></script>
    <script src="/javascripts/questions-service.js"></script>

  </body>

</html>
