.row {
  width: 100%;
}

.table-vcenter td, th {
   vertical-align: middle !important;
}

textarea {
  resize: vertical;
}

a.sort, a.dd-type, label.add-answer {
  cursor: pointer;
  text-decoration: none;
}

span.remove {
  color: #E31010;
  cursor: pointer;
}

button.dd-correct {
  width: 83px;
}

button.dd-correct.juste {
  background-color: green;
}

button.dd-correct.fausse {
  background-color: red;
}
