<!DOCTYPE html>
<div>
	<h2>Questions</h2>
	<div class="jumbotron">
		<div class="container">
			<table class="table table-hover table-vcenter">
		    <tr>
		      <th>
		        <a ng-click="sortType = 'title'; sortReverse = !sortReverse" class="sort">
		          Titre
		          <span ng-show="sortType == 'title' && !sortReverse" class="glyphicon glyphicon-sort-by-alphabet"></span>
		          <span ng-show="sortType == 'title' && sortReverse" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
		        </a>
		      </th>
		      <th>
		        <a ng-click="sortType = 'cDate'; sortReverse = !sortReverse" class="sort">
		          Date
		          <span ng-show="sortType == 'cDate' && !sortReverse" class="glyphicon glyphicon-sort-by-order"></span>
		          <span ng-show="sortType == 'cDate' && sortReverse" class="glyphicon glyphicon-sort-by-order-alt"></span>
		        </a>
		      </th>
		      <th>Tags</th>
		      <th class="col-xs-2">
		        <div class="input-group">
		          <input type="text" class="form-control" placeholder="Rechercher" ng-model="searchString">
		          <span class="input-group-btn">
		            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
		          </span>
		        </div>
		      </th>
		    </tr>

		    <tr ng-repeat="question in questions | orderBy:sortType:sortReverse | filter:searchFilter"
		        ng-show="currentUser().username === question.author">
		      <td>{{ question.title }}</td>
		      <td>{{ question.plaincDate }}</td>
		      <td>
		        <div ng-repeat="tag in question.tags | orderBy:'+'">
		          <span class="label label-default">{{ tag }}</span>
		        </div>
		      </td>
		      <td>
		        <center>
		          <a ui-sref="question({questionId : question._id})" class="btn btn-primary">Voir</a>
		          <!--&nbsp;
		          <a ng-click="removeQuestion(question)"><span class="glyphicon glyphicon-remove remove" title="Supprimer"></span></a>-->
		        </center>
		      </td>
		    </tr>
		  </table>

		</div>
		</div>
</div>
