<div ng-show="isLoggedIn()">
  <div class="page-header">
    <h2>Questions</h2>
  </div>
  <div class="row">
    <div class="questions">
      <div ng-repeat="question in questions" ng-show="currentUser().username === question.author">
        <div class="col-md-9">
          {{ question.title }}
        </div>
        <div class="col-md-2">
          <small> créée par <a>{{ question.author }}</a></small>
        </div>
        <div class="col-md-1">
          <span> <a href="#/questions/{{ question._id }}">Voir</a> </span>
        </div>
        <div class="col-md-12" ng-show="createSeparator({{ $index }})"><hr /></div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="page-header">
    <h3>Créer une question</h3>
  </div>
  <form class="form-horizontal" ng-submit="addQuestion()">
    <div class="form-group">
      <label for="title" class="col-sm-1 control-label">Titre</label>
      <div class="col-sm-10">
        <textarea class="form-control" type="text" id="title" rows="1" ng-model="title"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
        <button class="btn btn-primary" type="submit">Créer</button>
      </div>
    </div>
  </form>
</div>

<div ng-hide="isLoggedIn()">
  <center>
    <div style="margin-top: 100px;">
      <h2>Vous devez vous <a href="#/login">connecter</a> pour accéder au contenu du site</h2>
    </div>
  </center>
</div>
