<!DOCTYPE html>

<div class="page-header">
  <h2> Inscription </h2>
</div>

<div ng-show="error" class="row">
  <div class="col-md-offset-4 col-md-4 alert alert-danger">
    <center><span> {{ error.message }} </span></center>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <form ng-submit="register()" name="registerForm" novalidate>
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input class="form-control" type="text" id="username" placeholder="Nom d'utilisateur" ng-model="user.username" required>
      </div>
      <br>
      <div class="form-group">
        <label for="password1">Mot de passe</label>
        <input class="form-control" type="password" id="password1" placeholder="Mot de passe" ng-model="user.password1" required>
      </div>
      <br>
      <div class="form-group">
        <label for="password2">Confirmez le mot de passe</label>
        <input class="form-control" type="password" id="password2" placeholder="Confirmez le mot de passe" ng-model="user.password2" required>
      </div>
      <br>
      <center>
        <button type="submit" class="btn btn-default">S'enregistrer</button>
        <small>ou <a href="#/login">connectez-vous</a></small>
      </center>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
