<!DOCTYPE html>
<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

       <div class="text-center">
        <h2 class="brand">AMC-web</h2>
        <img src="images/flat-avatar.png" class="user-avatar" /><br />
        <span>Bienvenue {{ currentUser().username }}</span><br /><br />
        <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Se déconnecter</a>
      </div>

      <ul class="nav nav-sidebar">
        <li ng-class="{active: $state.includes('createQuestion')}"><a ui-sref="createQuestion">Créer une question <span class="sr-only">(current)</span></a></li>
        <li ng-class="{active: $state.includes('list') || $state.includes('question')}"><a ui-sref="list">Liste</a></li>
        <li ng-class="{active: $state.includes('test') || $state.includes('createTest')}"><a ui-sref="test">Tests</a></li>
      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>
